<!DOCTYPE html>
<html>
    <head>

        {# Balises meta #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site d'apprentissage">
        <meta name="author" content="Matthieu SCHERER">

        {# Balise title (apparaitra sur toutes les pages qui ont pour 'extends': "base.html.twig) #}
        <title>Cultivons-nous - {% block title %}{% endblock %}</title>

        {# Balises link avec le lien fontawesome et le lien vers le css #}
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>

    <body>

        {% if not contactForm.vars.valid %}
            <ul class="alert alert-danger">
                {# on affiche en premier les erreurs globales (cas classiques) #}
                {% for error in contactForm.vars.errors %}
                    <li>{{error.message}}</li>
                {% endfor %}
                {# ainsi que les erreurs concernant chaque champs #}
                {% for child in contactForm.children %}
                    {# si le champ à des erreur #}
                    {% if child.vars.errors is defined %}
                        {% for error in child.vars.errors %}
                            <li>{{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="main-container">
            <header role="header">

                <nav class="menu" role="navigation">
                    <div class="inner">
                        <div class="m-left">
                            <a class="image-link" href="{{ path('home') }}"><img class="logo" src="images/logo/logo.png" alt=""></a>
                        </div>
                        <div class="m-right">
                            <a class="accueil" href="{{ path('home') }}">Accueil</a>
                            <div class="dropdown">
                                <button class="dropdown-button">Vocabulaire <i class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="{{ path('random_vocabulary_word') }}">Mot du jour</a>
                                    <a href=" {{ path('vocabulary_word_list') }}">Liste des mots</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropdown-button">Capitale <i class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="{{ path('capital_random') }}">Capitale au hasard</a>
                                    <a href="{{ path('capitals_list') }}">Liste des capitales</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropdown-button">Infos impro <i class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="{{ path('random_improbable_information') }}">Infos impro' du jour</a>
                                    <a href="{{ path('improbable_information_list') }}">Voir tous</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropdown-button">Actualités <i class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="#">Actu' du jour</a>
                                    <a href="#">Liste des actualités</a>
                                </div>
                            </div>
                            {% if is_granted('ROLE_USER') %}
                                <div class="dropdown">
                                    <button class="dropdown-button user-pseudo">{{ app.user.pseudo }}<i class="fa fa-caret-down"></i></button>
                                    <div class="dropdown-content">
                                        <a href="{{ path('user-profile') }}">Mes informations</a>
                                        <a href="#">Mon historique</a>
                                        <a href=" {{ path('app_logout') }}">Déconnexion</a>
                                    </div>
                                </div>
                            {% else %}
                                <a href="{{ path('app_login') }}">Se connecter</a>
                            {% endif %}
                        </div>
                        <div class="container-m-toggle">
                            <div class="m-nav-toggle">
                                <span class="m-toggle-icon"></span>
                            </div>
                        </div>
                    </div>

                </nav>
            </header>

        {% block body %}{% endblock %}

            <footer>
                <div class="main-content-footer">
                    <div class="first-content-footer">
                        <div class="box left">
                            <h2>A propos</h2>
                            <div class="content">
                                <p class="aboutus-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam accusantium sit repellat exercitationem officiis eos beatae accusamus eveniet, corporis soluta reiciendis? Voluptates cum at totam facere porro a voluptatem esse provident magnam.</p>
                            </div>
                        </div>
                        <div class="box middle">
                            <h2>Inscrits-toi à </br>notre newsletter</h2>
                            <div class="text">Mets ton adresse email ici</div>
                            <input class="newsletter" type="email">
                        </div>
                        <div class="box right">
                            <h2>Contactez-nous</h2>
                            <div class="content">
                                {{ form_start(contactForm) }}
                                    <div class="identite">
                                        <div class="text">Prénom
                                            <span style="color: red;">*</span>
                                        </div>
                                        {{ form_widget(contactForm.prenom)}}
                                    </div>
                                    <div class="email">
                                        <div class="text">Email 
                                            <span style="color: red;">*</span>
                                        </div>
                                        {{ form_widget(contactForm.email)}}
                                    </div>
                                    <div class="message">
                                        <div class="text">Message 
                                            <span style="color:red;">*</span>
                                        </div>
                                        {{ form_widget(contactForm.message)}}
                                    </div>
                                    <div class="button">
                                        {{ form_widget(contactForm.envoyer)}}
                                    </div>
                                {{ form_end(contactForm) }}
                            </div>
                        </div>
                    </div>
                    <div class="last-line">
                        <h5>2021 &copy; Matthieu Scherer</h5>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
        <script rel="stylesheet" src="js/style.js"></script>
    </body>
</html>
